mixin article()
  section.article
    .container
      header.article__header
        h1.article__title.title.title--h1.title--article Где работает доставка?
        a(href="https://twitter.com/share?url=https://example.com&text=Check%20this%20out" target="_blank" rel="noopener noreferrer" aria-label="Поделиться в Twitter" class="button btn btn--share")
          +icon("icon-share", 18, 20)(aria-hidden="true" focusable="false")

      .article__content.article-content
        p.paragraph.article__paragraph Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
        p.paragraph.article__paragraph Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
        p.paragraph.article__paragraph Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.
        p.paragraph.article__paragraph Это карта лояльности с вашим номером покупателя. Она бывает пластиковой или виртуальной. При входе в приложение или на сайт достаточно указать ваш номер телефона. Если к нему привязана карта «Давайте дружить!», она будет выбрана автоматически. Если нет, будет создана новая. Номер карты виден под вашим именем на главном экране приложения и в личном кабинете на сайте.

      footer.article__footer
        p.article__paragraph Проблема не решилась? Свяжитесь с нами, мы поможем
        .article__buttons
          button(type="button" class="btn btn--support btn--bg-green" aria-label="Онлайн-чат")
            +icon("icon-chat", 16, 16)
            | Онлайн-чат
          a(href="tel:+1234567890" class="btn btn--bg-light-grey" aria-label="Позвонить")
            +icon("icon-tel", 16, 16)
          a(href="mailto:support@example.com" class="btn btn--bg-light-grey" aria-label="Написать на почту")
            +icon("icon-letter", 16, 12)
