mixin join-section()
  section.join-section
    .container.br-40
      .join-section__header
        p.join-section__paragraph Социальные сети и сообщество
        h2.join-section__title.title.title--h2 Присоединяйтесь
      .join-section__buttons
        .join-section__buttons-list
          a.btn.btn--social.btn--bg-light-grey(href="https://vk.com" target="_blank" rel="noopener noreferrer" aria-label="VKontakte")
            +icon("icon-vk", 25, 13)
          a.btn.btn--social.btn--bg-light-grey(href="https://instagram.com" target="_blank" rel="noopener noreferrer" aria-label="Instagram")
            +icon("icon-instagram", 20, 20)
          a.btn.btn--social.btn--bg-light-grey(href="https://tiktok.com" target="_blank" rel="noopener noreferrer" aria-label="TikTok")
            +icon("icon-tiktok", 19, 22)
          a.btn.btn--social.btn--bg-light-grey(href="https://twitter.com" target="_blank" rel="noopener noreferrer" aria-label="Х")
            +icon("icon-x", 23, 19)
          a.btn.btn--social.btn--bg-light-grey(href="https://zen.yandex.ru" target="_blank" rel="noopener noreferrer" aria-label="Yandex Zen")
            +icon("icon-zen", 36, 36)
          a.btn.btn--social.btn--bg-light-grey(href="https://facebook.com" target="_blank" rel="noopener noreferrer" aria-label="Facebook")
            +icon("icon-facebook", 11, 24)
