.title--h1 {
  color: #fff;
  font-size: 60px;
  line-height: 77px;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.title--h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: #1A1A1A;
}

.title--h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #1A1A1A;
}

.title--article {
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 767px) {
  .title--h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .title--h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 450px) {
  .title--h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .title--h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
