@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "museo-sans-cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "museo-sans-cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "museo-sans-cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "museo-sans-cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "museo-sans-cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "museo-sans-cyrl";

  font-display: swap;
  src: url("../fonts/museo-sans-cyrl-700.woff") format("woff");
}
