doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Test task FoodTech")
    link(rel="preload", href="fonts/museo-sans-cyrl-300.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/museo-sans-cyrl-500.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/museo-sans-cyrl-700.woff2", as="font", crossorigin="anonymous")
    if (openGraf)
      meta(property="og:title", content="Test task FoodTech")
      meta(property="og:image", content="https://24fortest.ru/img/content/sharing.png")
      meta(property="og:type", content="article")
      meta(property="og:url", content="https://24fortest.ru/")
      meta(property="og:description", content="Test task FoodTech")
    link(rel="stylesheet", href="css/style.min.css")

  body
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
